div.navbar
	div.navbar-inner
		span.brand Fluid Talk
		ul.nav
			li
				a(href="/conversations/") Desktop

div
	each conversation in conversations
		div.pull-left.block
			h4= conversation.topic
			div.messages
				each message in conversation.lastMessages
					div
						span.name= message.user.name
					p= message.content
			div.actions
				form(action="/conversations/#{conversation._id}/remove", method="post")
					input(type="submit", value="Remove")

