div.span7.left-side
		div.nano
			div#main-thread.content
				div.messages(data-bind="foreach: messages, visible: hasMessages")
					div.message
						div.row
							div.span6
								div.username.muted(data-bind="text:username")
								div.timestamp.muted(data-bind="text:timestamp")
						div.row
							div.span6(data-bind="text:content")
		div.row
			div.span6
				textarea#main-thread-new-message.span6(rows=3, type="text", placeholder="Enter your message here", data-bind="value: newMessage, valueUpdate: 'afterkeydown', event: { keypress: sendMessage }")

input#data(type="hidden")(value=conversation)

script(type="text/javascript", src="/scripts/lib/jquery.js")
script(type="text/javascript", src="/scripts/lib/jquery.nanoscroller.min.js")
script(type="text/javascript", src="/scripts/lib/bootstrap.js")
script(type="text/javascript", src="/scripts/lib/knockout.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/scripts/client/message.js")
script(type="text/javascript", src="/scripts/client/conversation.js")
script(type="text/javascript", src="/scripts/client/chat.js")
