p Open an existing conversation...

table
	each conversation in conversations
		tr
			td
				a(href='/conversations/#{conversation.id}/threads')= conversation.threads[0].messages[0].content
			td
				a(href="/conversations/#{conversation.id}/remove", style="padding-left: 10px") Remove

p Or create a new one

form(method='post', action='/conversations')
	div
		label Topic
		input(type='text', name='topic')
	div
		input(type="submit", value="submit")
