p Open an existing conversation...

ul
	each conversation in conversations
		li
			a(href='/conversations/#{conversation.id}/threads')= conversation.threads[0].messages[0].content

p Or create a new one

form(method='post', action='/conversations')
	div
		label Topic
		input(type='text', name='topic')
	div
		input(type="submit", value="submit")
