
div.login
	form(method='post', action="/log-in")
		div
			label Who are you?
		div
			select#selUser(name='userId')
				each user in users
					option(value=user.id)= user.name
		div
			input(type="submit", value="submit")