!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container!= body
