!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.page-wrapper!= body

script(type="text/javascript", src="/js/require.js", data-main="/js/client.js")
