h2= conversation.topic

div#messages
	!= partial('message', conversation.messages)
	div.template
		!= partial('message', { message: {} })

div#message-input
	input(type="text")#txtBoxMessage
	input(type="hidden")(value=name)#hdnName
	button#btnSubmit Submit