.login{
	margin:20% auto 0;
	position: relative;
	width:400px;
	border-radius:15px;
	border:1px solid #000;
	text-align:center;
}

#main-thread, #sub-threads
{ 
  overflow-x: hidden;
  overflow-y: auto;
}
#main-thread, #sub-threads, .nano
{
  height: 675px;
}
#main-thread
{
  width: 485px;
}

#main-thread .span6
{
  width: 94%;
}

.span6
{
  width: 485px;
}
.span5
{
  width: 405px;
}
.offset1
{
  margin-left: 50px;
}
.span4, input.span4
{
  width: 94%;
}

.main-thread-title
{
  padding-bottom: 6px;
  margin: 10px 0;
  border-bottom: 1px solid #EEE;
}

.well
{
  background-color: transparent;
}
.thread .top
{
  cursor: pointer;
  max-height: 40px;
  overflow: hidden;
  padding:0 15px 4px;
}

.thread .header
{
  width:80%;
}

.thread .dismiss
{
  float:right;
}

.thread-body-container
{
  height: 270px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.thread-body-curtain {
  position: absolute;
  top:0;
  z-index: 2;
  height: 18px;
  width:100%;
  margin: 0;
  background: transparent url('../images/std-grad-18.png') repeat-x scroll 0 100%;
}
.thread-body
{
  position: absolute;  
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.newThreadLinks
{
  padding-bottom: 10px;
}

.message
{
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #EEE;
}
.message:last-child
{
  border-bottom: 0;
}

.message .username
{
  float: left;
  margin-bottom: 3px;
}

.message .timestamp
{
  float: right;
  margin-bottom: 3px;
}

.message hr, .thread hr
{
  margin: 9px 0;
}

.thread input
{
  margin-top: 9px;
  margin-bottom: 0;
}
