.login{
	margin:20% auto 0;
	position: relative;
	width:400px;
	border-radius:15px;
	border:1px solid #000;
	text-align:center;
}

.main-thread.title
{
  padding-bottom: 6px;
  margin: 10px 0;
  border-bottom: 1px solid #EEE;
}

h3 small {
  font-size: 13px;
}

.newMessage
{
  margin-top:20px;
}

.message
{
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #EEE;
}

.message .username
{
  float: left;
  margin-bottom: 3px;
}

.message .timestamp
{
  float: right;
  margin-bottom: 3px;
}

.message .content
{
  
}

.message hr, .thread hr
{
  margin: 9px 0;
}

.thread input
{
  margin-top: 9px;
  margin-bottom: 0;
}
