.login{
	margin:20% auto 0;
	position: relative;
	width:400px;
	border-radius:15px;
	border:1px solid #000;
	text-align:center;
}

.newMessage
{
  margin-top:20px;
}

.message .username
{
  float: left;
  margin-bottom: 3px;
}

.message .timestamp
{
  float: right;
  margin-bottom: 3px;
}

.message hr, .thread hr
{
  margin: 9px 0;
}

.thread input
{
  margin-top: 9px;
  margin-bottom: 0;
}