div.main-thread-title
	h3
		span(data-bind="text: mainThread.title.content")
		small
			span &nbsp;created by&nbsp;
			span(data-bind="text: mainThread.title.username")
div.row
	div.span6
		div.row(data-bind="visible:!mainThread.hasMessages()")
			div.span6
				em Messages from the group will appear here
		div.nano
			div#main-thread.content
				div.messages(data-bind="foreach: mainThread.messages, visible: mainThread.hasMessages")
					div.message
						div.row
							div.span6
								div.username.muted(data-bind="text:username")
								div.timestamp.muted(data-bind="text:timestamp")
						div.row
							div.span6(data-bind="text:content")
		div.row
			div.span6
				input.span6(type="text", placeholder="Enter your message here", data-bind="value: mainThread.newMessage, valueUpdate: 'afterkeydown', event: { keypress: mainThread.sendMessage }")
	div.span5.offset1
		div.row
			div
				p 
					span Have something else on your mind? 
					a#lnkNewThread(href="#") Share it 
					span with the group
					div#newThread.well(style="display: none;")
						div.input-append
							input.span4(type="text", placeholder="What's on your mind?", data-bind="value: newThread, valueUpdate: 'afterkeydown', event: { keypress: addNewThread }")
		div.nano
			div#sub-threads.content
				div.threads(data-bind="foreach: threads")
					div.well.thread(data-bind="visible: !dismissed()")
						div.row.top
							div.span4
								div.row
									span.header(data-bind="click: toggle")
										strong(data-bind="text: title.content")
										span.muted &nbsp;created by&nbsp;
										span.muted(data-bind="text: title.username")
									span.dismiss
										a(href="#", data-bind="click: dismiss") x
						div.thread-body-container(data-bind="visible: !collapsed()")
							div.thread-body-curtain								
							div.thread-body
								div.row.thread-messages(data-bind="foreach: messages, visible: hasMessages()")
									div.span4.message
										div.row
											div.span4
												div.username.muted(data-bind="text: username")
												div.timestamp.muted(data-bind="text: timestamp")
										div.row
											div.span4(data-bind="text: content")
								div.row
									div.span4
										input.span4(type="text", placeholder="Answer", data-bind="value: newMessage, valueUpdate: 'afterkeydown', event: { keypress: sendMessage }")

input#data(type="hidden")(value=conversation)
input#preferences(type="hidden")(value=preferences)

script(type="text/javascript", src="/scripts/lib/jquery.js")
script(type="text/javascript", src="/scripts/lib/jquery.nanoscroller.min.js")
script(type="text/javascript", src="/scripts/lib/bootstrap.js")
script(type="text/javascript", src="/scripts/lib/knockout.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/scripts/client/threads.js")
