div.main-top-bar
	div.row
		div.span6.title
			h3
				span(data-bind="text: mainThread.title.content")
				small
					span &nbsp;created by&nbsp;
					span(data-bind="text: mainThread.title.username")
		div.span6.thread-switcher
			button.btn.btn-info#btn-new-thread(type="button") Add
			div.btn-group
				a.btn.dropdown-toggle(data-toggle="dropdown", href="#") Side Conversations
					span.caret
					span.badge.badge-info.unread-counter(data-bind="text: unreadCounter")
				ul.dropdown-menu#thread-list(data-bind="foreach: threads")
					li
						a.clearfix(href="#", data-bind="event: { click: menuClick }")
							span.title(data-bind="text: title.content")
							span.badge.badge-info.unread-counter(data-bind="text: unreadCounter, visible: unreadCounter() > 0")
		div#newThread.modal.hide.fade.in(style="display: none")
			div.modal-header
				a.close(data-dismiss="modal") x
				h4 What else would you like to talk about?
			div.modal-body
					div.input-append
						input.span4(type="text", data-bind="value: newThread, valueUpdate: 'afterkeydown', event: { keypress: addNewThread }")
			div.modal-footer
				button.btn(data-dismiss="modal") Cancel
div.row
	div.span7
		div.row(data-bind="visible:!mainThread.hasMessages()")
			div.span6
				em Messages from the group will appear here
		div.nano
			div#main-thread.content
				div.messages(data-bind="foreach: mainThread.messages, visible: mainThread.hasMessages")
					div.message
						div.row
							div.span6
								div.username.muted(data-bind="text:username")
								div.timestamp.muted(data-bind="text:timestamp")
						div.row
							div.span6(data-bind="text:content")
		div.row
			div.span6
				input.span6(type="text", placeholder="Enter your message here", data-bind="value: mainThread.newMessage, valueUpdate: 'afterkeydown', event: { keypress: mainThread.sendMessage }")
	div.span5
		div.nano
			div#sub-threads.content
				div.threads(data-bind="foreach: threads")
					div.well.thread(data-bind="visible: !dismissed() && !hidden()")
						div.actions
							a.icon-resize-full(href="#", data-bind="click: toggleExpand, visible: !expanded()")
							a.icon-resize-small(href="#", data-bind="click: toggleExpand, visible: expanded")
							a.icon-remove(href="#", data-bind="click: toggleDismiss")
						div.row.top
							div.span4
								div.row
									span.header(data-bind="click: toggleCollapse")
										strong(data-bind="text: title.content")
									span.badge.badge-info.unread-counter(data-bind="text: unreadCounter, visible: collapsed")
								div.row.muted(data-bind="visible: !collapsed()")
										span.created-by created by 
										span(data-bind="text: title.username")

						hr(data-bind="visible: !collapsed()")

						div.thread-body-container(data-bind="visible: !collapsed(), css: { expanded: expanded }")
							div.thread-body-curtain								
							div.thread-body
								div.row.thread-messages(data-bind="foreach: messages, visible: hasMessages()")
									div.span4.message
										div.row
											div.span4
												div.username.muted(data-bind="text: username")
												div.timestamp.muted(data-bind="text: timestamp")
										div.row
											div.span4(data-bind="text: content")
								div.row
									div.span4
										input.span4(type="text", data-bind="value: newMessage, valueUpdate: 'afterkeydown', hasfocus: focused, event: { keypress: sendMessage }")

input#data(type="hidden")(value=conversation)
input#preferences(type="hidden")(value=preferences)

script(type="text/javascript", src="/scripts/lib/jquery.js")
script(type="text/javascript", src="/scripts/lib/jquery.nanoscroller.min.js")
script(type="text/javascript", src="/scripts/lib/bootstrap.js")
script(type="text/javascript", src="/scripts/lib/knockout.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/scripts/client/threads.js")
